@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  height: 100vh;
  background: var(--slate-300);
  color: var(--slate-900);
  font-family: "Outfit", sans-serif;
  font-size: clamp(13px, 3.5vw, 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 80vw, 350px);
  text-align: center;
  padding: clamp(10px, 3.5vw, 15px);
  border-radius: clamp(10px, 3.5vw, 15px);
  margin-bottom: clamp(5px, 2.5vw, 10px);
  box-shadow: 0px 0px 15px var(--slate-500);
}

.qr-code {
  width: 100%;
  border-radius: clamp(5px, 2.5vw, 10px);
}

.heading {
  font-size: clamp(20px, 5.6vw, 24px);
  font-weight: 700;
  margin: clamp(15px, 4.7vw, 20px);
}

.info {
  font-size: clamp(13px, 3.5vw, 15px);
  color: var(--slate-500);
  font-weight: 400;
  line-height: 1.4;
  margin: 0 clamp(15px, 4.7vw, 20px);
  margin-bottom: clamp(15px, 4.7vw, 20px);
}
